body {
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt42Sku9zJE1TPETIY8bkAW68vcIB6ntaPZA&s');

}
p{
color: aquamarine;
background-color: black;
}
h1{
background-color: azure;

}